@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto+Condensed&family=Silkscreen&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --headerBG: rgb(255, 230, 0);
  --div1miniBG: rgb(108, 191, 202);
  --div1bigBG: rgba(240, 203, 91, 36%);
  --div2BG: rgba(155, 189, 214, 70%);
  --div3BG: rgba(250, 203, 203, 50%);
  --div4BG: rgba(155, 189, 214, 70%);
  --div5BG: rgb(153, 220, 164);
  --div6BG: rgb(250, 206, 206);
  --div7bigBG: rgb(255, 217, 102);
  --div7miniBG: rgb(255, 168, 0);
}

body {
  font-family: "Noto Sans", sans-serif;
}

.wrapper {
  width: 100vw;
  height: 100vh;
}

.containing {
    position: relative;
    min-width: 100vw;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    z-index: 10;
  }

header .containing {
    display: flex;
    justify-content: space-between;
    background-color: var(--headerBG);
    align-items: center;
    height: 5rem;
}

header .empty {
    margin-right: 8rem;
}

.logo img {
    height: 55px;
}

.nav-icons,
.nav-icons a {
  text-decoration: none;
  margin-left: 3rem;
  font-size: 25px;
  color: white;
  display: flex;
  transition: 0.5s;
}

.nav-icons a:hover {
  transform: scale(1.1);
}

.bonding-reminder {
  background-color: #99DB94;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  margin: auto;
  position: relative;
}

.bonding-reminder h3{
  color: #FEE45A;
  text-shadow: 0 1px 1px #000, 0 -1px 1px #000, 1px 0 1px #000, -1px 0 1px #000;
  font-size: xx-large;
}

.pick-date-bonding-time{
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.pick-a-date{
  background-color: #FFBE82;
}

.pick-a-date h3{
  color: #FFD966;
  text-shadow: 0 1px 1px #000, 0 -1px 1px #000, 1px 0 1px #000, -1px 0 1px #000;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 30px;
}

.playing-date{
  display:flex;
  align-items: center;
  justify-content: center;
  padding-top: 220px;
  padding-bottom: 220px;
}

.playing-date input[type="date"]{
  width: 400px;
  position:-webkit-sticky;
  font-size: 20px;
  font-weight: 999;
  text-align: center;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  padding: 5px;
  border: none;
  font-family: "noto sans", sans-serif;
}

.your-bonding-time{
  background-color:#FEDAFF;
}

.title-bonding-time h3{
  color: #FFBE82;
  text-shadow: 0 1px 1px #000, 0 -1px 1px #000, 1px 0 1px #000, -1px 0 1px #000;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 30px;
}

.button-time-hour{
  margin-top: 30px;
  margin-left:200px;
  display:flex;
}

.button-time-hour .num{
  background-color: white;
  padding-top: 10px;
  padding-right:20px ;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.buttonplusminus{
  background-color: white;
  padding-right: 10px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.buttonplusminus .minus{
  display: flex;
  margin-top: 3px;
}

.titik-dua{
  padding-left: 20px;
}

.button-time-minute{
  margin-top: 20px;
  margin-left:15px;
  display:flex;
}

.button-time-minute .num{
  background-color: white;
  padding-right: 10px;
  padding-top: 10px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.buttonplusminuss{
  background-color: white;
  padding-right: 10px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.buttonplusminuss .minus{
  display: flex;
  margin-top: 3px;
}

.activity{
  padding-left: 20px;
  padding-right: 20px;
}

.activity input[type="text"]{
  position: -webkit-sticky;
  font-family: "noto sans", sans-serif;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  top: 50%;
}

.button-plus{
  background-color: #C4EFB6;
  padding: 25px;
  border-radius: 50%;
}

.pagi-play input[type="text"]{
  position: -webkit-sticky;
  font-family: "noto sans", sans-serif;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  margin-top: 50px;
  margin-left: 90px;
}

.siang-play input[type="text"]{
  position: -webkit-sticky;
  font-family: "noto sans", sans-serif;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  margin-top: 15px;
  margin-left: 90px;
}

.sore-play input[type="text"]{
  position: -webkit-sticky;
  font-family: "noto sans", sans-serif;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  margin-top: 15px;
  margin-left: 90px;
}

.add-reminder{
  padding-top: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.add-reminder a.tbl-hijau {
  background: #C4EFB6;
  border-radius: 20px;
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
  color: #F9F9F9;
  text-decoration: none;
}

footer .container {
  display: flex;
  justify-content: space-between;
  background-color: var(--div7bigBG);
  padding: 2rem 8rem;
  margin-top: -1px;
  z-index: 5;
}

.foot-table td {
  padding: 10px 10px;
  transition: 0.5s;
}

.foot-table td:hover {
  transform: scale(1.2);
}

.foot-table a {
  text-decoration: none;
  color: #93258E;
  font-weight: bolder;
  text-shadow: -1px -1px 2px white, 0 -1px 2px white, 1px -1px 2px white, 1px 0 2px white, 1px 1px 2px white, 0 1px 2px white, -1px 1px 2px white, -1px 0 2px white;
  font-size: 22px;
  transition: 0.5s;
}

.social-media {
  padding: 2rem 2rem;
  margin: 0 10rem;
}

.social-media .logo {
  margin-left: 1rem;
}

.social-media img {
  height: 75px;
}

.social-media .social {
  font-size: 50px;
  display: flex;
  justify-content: space-evenly;
}

.social a {
  color: white;
  transition: 0.5s;
}

.social a:hover {
  transform: scale(1.2);
}

.footnote .container {
  display: flex;
  justify-content: space-between;
  background-color: var(--div7miniBG);
  padding: 2rem 8rem;
  margin-top: -1px;
  z-index: 5;
}

.footnote .that {
  display: flex;
}

.that a,
    .that p {
        text-decoration: none;
        padding: 2rem 2rem;
        color: black;
    }
    
    .that p {
        color: #FF8C68;
        font-weight: bolder;
        text-shadow: -1px -1px 2px white, 0 -1px 2px white, 1px -1px 2px white, 1px 0 2px white, 1px 1px 2px white, 0 1px 2px white, -1px 1px 2px white, -1px 0 2px white;
        font-size: 20px;
    }